.header-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFC000;
    padding: 0;
    padding-left: 1rem;
    margin: 0;
    font-family: Montserrat;
    top: 0;
    position: sticky;

}
.header-container h1 {
    margin-right: auto;
}
.cart-box {
    padding-right: 2rem;
    cursor: pointer;
}
.cart-box img {
    width: 2rem;
}
.cart-box span {
    color: black;
    background-color: white;
    position: absolute;
    top: 1rem;
}