.main {
    width: 100%;
    min-height: 50vh;
    font-family: Montserrat;
    background-color: white;
    text-align: center;
    margin-top: 2rem;
}

.main .txt-box {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    font-size: 1rem;
}
span {
    color: #FFC000;
}
