body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;

}
.shopping {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 425px) {
    .shopping {
        padding-left: 2.5rem;
    }
}

